/* importing Nunito font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* importing the animation.css file */
@import url("./animation.css");

/* setting the font family */
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: rgb(255, 90, 95);
  --secondary: rgb(36, 50, 74);

  --light-secondary: rgb(62, 76, 102);
  --light-primary: rgb(255, 120, 124);

  --lighter-primary: rgb(255, 232, 233);
  --lighter-secondary: rgb(138, 153, 179);

  --dark-secondary: rgb(29, 41, 62);

  --darker-secondary: rgb(20, 30, 47);

  --dark-primary: rgb(44, 11, 14);
  
  --overlay-dark: rgba(36, 50, 74, 0.65);
  --overlay-lighter-dark: rgba(62, 76, 102, 0.4);

  --gray-text: rgb(72, 72, 72);
  --light-gray-text: rgb(138, 153, 179);

  --black-50-bg: rgba(15, 21, 31, 0.5);

  scroll-behavior: smooth;
}

::selection {
  background: var(--secondary);
  color: white;
}
/* start of the home page */

/* home page image title responsive */
#homeMainImage {
  h1 {
    font-size: calc(1.5rem + 2vw);
  }
}


/* start homeFindPropertyInCities section */

#homeFindPropertyInCities {
  .city-card {
    height: 200px !important;
  }
  .city-card  img {
    transition: all 0.5s;
  }
  .city-card:hover > a img {
    transform: scale(1.08) rotate(1deg);
    filter: contrast(1.5);
    transition: all 0.5s;
  }
}

/* end of the home page */

.none-active-dropdown > a:active {
  background-color:  white !important;
}